# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ENV/
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.nosetests.xml
coverage.xml
.pytest_cache/
.mypy_cache/

# Django
*.log
local_settings.py

# Flask
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Python dotenv
.env

# Ruff cache
.ruff_cache/

# Editor directories
.idea/
.vscode/

# JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Editor temp files
*.swp
*.swo
